.chat-inner{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
    border-radius : 8px;
    overflow-y : scroll;
}

.msg{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}
.msg-manager{
    text-align: right;
}
.error-ref{
    color: red;
 	visibility: hidden;
    text-align: center
}